{% extends "base.html" %}

{% block content %}
    <form method="post" class="form-signin">
        <h2>edit post</h2>
        <label>
            subject line
            <input type="text" class="input-block-level" name="subject" value="{{subject}}">
        </label>

        <label>
            blog content
            <textarea class="input-textarea-level" name="content">{{content}}</textarea>
            <span class="help-inline error">{{error}}</span>
        </label>

        <form action="/blog">
            <button class="btn btn-success" type="submit"><i class="icon-pencil icon-white"></i> submit edit</button>
            <a class="btn btn-danger" href="/blog"><i class="icon-trash icon-white"></i> cancel edit</a>
        </form>
    </form>
{% endblock %}
